@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: poppins, sans-serif;

  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  min-height: 200vh;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

#header #logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

#header nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header nav a {
  position: relative;
  list-style: none;
}

#header nav a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

#header #logo {
  font-style: italic;
  font-size: 20px;
}
#header #logo span {
  color: #564fcc;
}
#header nav {
  color: #000;
}

#header nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: #000;
}
#header nav a:last-child {
  color: white;
  background: #6c63ff;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 30px;
}

#header nav a:hover {
  opacity: 0.9;
}
.img-principal {
  width: 50%;
}

#container {
  position: absolute;
  background-image: url(./img/camera-gbdddf4733_1920.jpg);
  background-size: 100%;
}

#container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  height: 700px;
}

#content-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content-container h1 {
  color: #564fcc;
  font-weight: 900;
  font-size: 80px;
  line-height: 0.9em;
  margin-bottom: 30px;
}

#content-container p {
  line-height: 1.8em;
  font-weight: 500;
}

#content-container button {
  border: none;
  outline: none;
  color: #fff;
  background-color: #6c63ff;
  padding: 16px 0px;
  border-radius: 40px;
  font-size: 16px;
  width: 160px;
  margin-top: 30px;
  cursor: pointer;
}

#content-container button:hover {
  opacity: 0.9;
}

.arrow {
  position: relative;
  top: 650px;
  left: 710px;
  display: inline-block;
  font-size: 10px;
  line-height: 3em;
  border: 7px solid #000;
  border-left: transparent;
  border-bottom: transparent;
  width: 3em;
  height: 3em;
}

.arrow:before {
  content: '\00a0';
}

.arrow.bottom {
  line-height: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

main {
  display: inline-block;
  margin-top: 700px;
}

#P-container {
  position: relative;
  margin: 50px;
  padding-top: 100px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#P-container p {
  font-size: 20px;
  margin-top: 30px;
  margin-right: 20px;
  color: #564fcc;
}

#P-container .h3-main span {
  color: #564fcc;
}

#P-container .h3-main h1 {
  color: #000;
}

.foto {
  position: absolute;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes animacao {
  25% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  50% {
    opacity: 0;
  }
}

.foto:nth-child(1) {
  animation-delay: 0s;
}
.foto:nth-child(2) {
  animation-delay: 5s;
}
.foto:nth-child(3) {
  animation-delay: 10s;
}

#slider {
  width: 80%;
  max-width: 500px;
  height: 25vw;
  max-height: 150px;
  position: relative;
}

#slider img {
  opacity: -0;
  position: absolute;
  object-fit: cover;
  transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

#cd-container {
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  height: 500px;
  width: 500px;
}

#cd-container img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}

.Preco-conteiner {
  width: 900px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 120px;
  align-items: center;
  justify-content: space-between;
}

.Conteudo {
  width: 290vw;
  height: 80vh;
  background-image: linear-gradient(45deg, rgb(188, 140, 242), #564fcc);
  border-radius: 20px;
  margin: 5px;
  margin-left: 20px;
  float: left;
  margin-top: 12%;
  text-align: center;
}

.Preco {
  margin-bottom: 80px;
  text-align: center;
}

.detalhes {
  margin-top: -50px;
}

.Conteudo h1 {
  font-size: 20px;
  width: -20px;
  margin-bottom: 80px;
  color: white;
  line-height: 5;
  text-transform: uppercase;
}
.Conteudo h2 {
  font-size: 16px;
  color: #fff;
  margin-top: -90px;
  margin-bottom: 80px;
}

.Preco h2 {
  font-size: 30px;
  color: white;
  margin-top: 70px;
  margin-bottom: -70px;
}
.Preco p {
  color: white;
}

.detalhes h4 {
  margin-top: 20px;
  margin-left: 7px;
  font-size: 15px;
  font-weight: normal;
  color: white;
  line-height: 1;
}

.Conteudo a {
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 10px 60px;
  display: inline-block;
  margin: 10% auto;
  text-transform: uppercase;
  font-weight: bold;
}

.Conteudo a:hover {
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #6c63ff;
  background: white;
  color: #6c63ff;
  padding: 10px 60px;
  display: inline-block;
  margin: 10% auto;
  text-transform: uppercase;
  font-weight: bold;
}

.mare {
  position: relative;
  width: 100%;
  height: 100px;
  background: #6c63ff;
  overflow: hidden;
}

.mare .weve {
  position: absolute;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
}

.mare .weve.weve1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
}

.mare .weve.weve2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
}

.mare .weve.weve3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
}
.mare .weve.weve4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

footer {
  background: #6c63ff;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  max-width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #564fcc;
  width: 100vw;
  max-width: 100%;
  padding: 20px 0;
  justify-content: center;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  color: #000;
  font-weight: 200px;
}

/* Animação */

[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime='right'] {
  transform: translate3d(50px, 0, 0);
}

[data-anime='top'] {
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
